body {
    font-family: sans-serif;
}

p {
    color: maroon;
}

h1, h2 {
    color: gray;
}

h1 {
    border-bottom: 1px solid black;
}
<<<<<<< HEAD

p.greentea {
    color: green;
}
=======
>>>>>>> 314f9d43e4ea7bf0ff5c4c66f74a76dc1193f00c
