body {
    font-family: sans-serif;
}

p {
    color: maroon;
}

h1, h2 {
    color: gray;
}

h1 {
    border-bottom: 1px solid black;
}

p.green-tea {
    color: green;
}

p.raspberry-syrup {
    color: blue;
}

p.drink-blueberry {
    color: purple;
}

p.drink-cranberry {

}